In [1]:
#Import Python Libraries
import mysql.connector as sql
import pandas as pd

In [2]:
#Build the connection
conn=sql.connect(host='localhost',user='root',password='april',db='data1202')
conn

In [3]:
# Read a query into DataFrame
df=pd.read_sql_query("SELECT * FROM data1202.vgsales", conn)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16322,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16323,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16324,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16325,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16326,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [8]:
# Question 1: Was the average of global sales higher before or after 2005?
qs1_df = pd.read_sql('''Select a.before2005 as Sales_Avg_Before_2005, b.after2005 as Sales_Avg_After_2005,
    (case
    when a.before2005 > b.after2005 then 'Global sales were higher before 2005'
    else 'Global sales were higher after 2005'
    end) as Result
From
    (select ROUND(AVG(global_sales),2) as before2005 from vgsales where year < 2005) a,
    (select ROUND(AVG(global_sales),2) as after2005 from vgsales where year > 2005) b''', conn)

In [9]:
#Using below cmnd to print result horizontally in 1 row
with pd.option_context('expand_frame_repr', False):
    print(qs1_df)

   Sales_Avg_Before_2005  Sales_Avg_After_2005                                Result
0                   0.65                  0.49  Global sales were higher before 2005

In [10]:
# Question 2: Create a new column that labels records before 2005 as 'pre-2005' and after 2005 as 'post-2005'
qs2_df = pd.read_sql('''Select
    (case
    when year < 2005 then 'pre-2005'
    when year > 2005 then 'post-2005'
    else  'in-2005'
    end) as Indicator, vgsales.*
    from vgsales;''', conn)

In [7]:
# Displaying the newly added column - Indicator
qs2_df

,Indicator,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,post-2005,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,pre-2005,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,post-2005,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,post-2005,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,pre-2005,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...,...
16322,pre-2005,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16323,pre-2005,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16324,post-2005,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16325,post-2005,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16326,pre-2005,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01